*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!terraform.tfvars.example
!secrets.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform/
.terraform.lock.hcl
*.pem
*.ppk
*.key
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub
privkey*
pubkey*
*.env
.env.*
secrets/
.DS_Store
Thumbs.db
