ip_network_prefix = "192.168.1"
ip_cidr           = "24"
gateway_ip        = "192.168.1.1"

proxmox_api_token_id     = "terraform@pam!terraform_token"
proxmox_api_token_secret = "DEIN_PROXMOX_API_TOKEN_SECRET_HIER"

root_password = "DEIN_SICHERES_ROOT_PASSWORT_HIER"

ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/23U3FvKInPZKrg6YDjH7tEhjz15CHulIc2HVwIlKseb5gsAce0lk+N57wbC0qzg++oD8WKuAzCKVMg71vpLSlN9AGnB+gUUahc/50GdQ8xD46UMRZnosVQFPD/pDEtdsc34ZZSP5JGyr4WK/8rbAdmMTolf9XO3kQzeHhOFp/h9rk5mCXwMJRDGzwRjP4eIKkDa/AX1sAxKzHS2pM8KK1yrWyp+e1K9LNl2a8nv//0XWOz+5UcdSBThUWjUhOC3yG58UOm8kkRZkUDUVz+ibLObfPCuqxN10nSzd6oZALL5cgWrSxve9SjICfPe3Ou2fkAiPMOPZo9dBKG+HvPON rsa-key-20240816"

private_key_path = "C:\\Users\\riv3ty\\Documents\\riv3tySSH\\privateRIV3TY.ppk"
